root = true

[**]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.txt]
indent_style = tab
indent_size = 8

[**.{bat,sh,php,md}]
indent_style = space
indent_size = 2

[**.md]
trim_trailing_whitespace = false

[**.py]
indent_style = space
indent_size = 4

[doc/**.htm]
indent_style = space
indent_size = 4

[doc/**.css]
indent_style = space
indent_size = 2
